<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>客户关系管理系统</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__static/admin/css/common.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<!-- 插件如果是基于jquery ，必须在前面引入Jqeruy-->
	<script type="text/javascript" src="https://cdn.bootcss.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</head>
<body>
	
 <header style="background-color: #ccc">
 	<div>管理员 退出</div>
 </header>